CSS

body {
	background-color: peachpuff;
}

h1{
	color: black;
	text-align: center;
	font-family: Georgia, serif;
}

p{
	font-family: "verdana", sans-serif;
	color: firebrick;
	text-align: center;
}

	

.header {
	background-color: cornsilk;
	padding: 20px;
	text-align: center;
	font-family: Georgia, serif;
		}
.footer {
	background-color: cornsilk;
	padding: 10px;
	text-align: center;
	font-size: 14px;
	float: center;
		}


.topnav {
	overflow: hidden;
 	background-color: black;
}
.topnav a {
	  float: middle;
	  display: block;
	  color: azure;
	  text-align: center;
	  padding: 14px 16px;
	  text-decoration: none;
}
.topnav a:hover {
	  background-color: #ddd;
	  color: darkgrey;
}




	

