CSS
body {
	background-color: peachpuff;
}

h1{
	color: black;
	p.groove border-style: groove;
	text-align: center;
}

p{
	font-family: "verdana", sans-serif;
	color: firebrick;
	text-align: center;
}